<br>
<%= @post.title %>

<form action='/posts/<%= @post.id %>/comments' method='post' id="new-comment">

  <textarea rows="4" cols="100" name='body' placeholder='Comment' required></textarea>
  
  <input type='submit' value='Submit'>
</form>

<ul>
<% @comments.each do |comment| %>
   <li>
    <div id="<%=comment.id%>">
      <span class='comment-votes'><%= comment.comment_votes.length %>||</span>
      <% unless comment.user_voted?(session[:user_id]) %>
        <a class='comment-upvote-symbol' href="/posts/<%= comment.post.id%>/comments/<%= comment.id %>/upvote">^</a>||
      <% end %>
      <li><%= comment.body %></li>
    </div>
<% end %>
</ul>
